html {
    scroll-behavior: smooth;
}

body[data-theme="light"] {
    --color-bw-10: hsl(0, 0%, 10%);
    --color-bw-60: hsl(0, 0%, 60%);
    --color-bw-70: hsl(0, 0%, 70%);
    --color-bw-80: hsl(0, 0%, 80%);
    --color-bw-90: hsl(0, 0%, 90%);
    --color-blue: #0043a8;
}

body[data-theme="dark"] {
    --color-bw-10: hsl(0, 0%, 90%);
    --color-bw-60: hsl(0, 0%, 40%);
    --color-bw-70: hsl(0, 0%, 30%);
    --color-bw-80: hsl(0, 0%, 20%);
    --color-bw-90: hsl(0, 0%, 10%);
    --color-blue: #6ca6ff;
}


body[data-theme="light"] .dark-theme {
    display: none;
}

body[data-theme="dark"] .light-theme {
    display: none;
}

body {
    background-color: var(--color-bw-90);
    color: var(--color-bw-10);
}


a {
    color: var(--color-blue);
    text-decoration: none;
}

.material-symbols-outlined {
    user-select: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 200px;
    padding: 10px;
    color: var(--color-bw-10);
    box-shadow: 0 0 10px var(--color-bw-60);
    margin: 15px;
}

.button img {
    width: 35px;
    margin-right: 10px;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 0;
    background-color: var(--color-bw-60);
    transition: width .5s ease-in-out;
    mix-blend-mode: difference;
    background-color: #fff;
}

.button:hover::before {
    width: 200px;
}


header {
    position: sticky;
    top: 0;
    height: 48px;
    margin: 0 10%;
    border-bottom: 2px solid var(--color-bw-80);
    z-index: 100;
    user-select: none;
}

.top {
    position: relative;
    height: calc(100vh - 50px);
    padding: 5% 10%;
    text-align: center;
    user-select: none;
}

.top h1 {
    display: inline-block;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 1rem 0;
    font-size: 3rem;
}

.top .subtitle {
    font-size: 1.15rem;
    text-shadow: 3px 3px 3px var(--color-bw-60);
}

.top .link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top .scroll {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: var(--color-bw-10);
}

.top .scroll div {
    writing-mode: vertical-rl;
    font-size: 1.5rem;
    text-shadow: 3px -3px 3px var(--color-bw-60);
    transition: color, text-shadow .5s ease-in-out;
}

.top .scroll span {
    font-size: 2rem;
    text-shadow: 3px 3px 3px var(--color-bw-60);
    transition: color, text-shadow .5s ease-in-out;
}

.top .scroll:hover div {
    color: var(--color-blue);
    text-shadow: 3px -3px 3px var(--color-blue);
}

.top .scroll:hover span {
    color: var(--color-blue);
    text-shadow: 3px 3px 3px var(--color-blue);
}


#background {
    position: fixed;
    top: 0;
    z-index: -50;
    height: 100%;
    filter: drop-shadow(5px 5px 3px var(--color-bw-70));
}

#background g {
    stroke: var(--color-bw-70);
}